<div class="navbar-wagon">
  <!-- Logo -->
  <%= link_to "AirBnb", flats_path %>

  <!-- Right Navigation -->
  <div class="navbar-wagon-right hidden-xs hidden-sm">
    <%= link_to "Add Flat", new_flat_path, class: "btn btn-primary"%>
  </div>
</div>
